{% extends 'registerForm/base.html' %}
{% block content %}
{% load static %}

  <br><br>
  <div class="col  card-panel white offset-m3" style="text-align:center;margin-top:12vh">
    <h1>Selamat Datang .. </h1>
    <h4>Yuk Berdonasi Bersama Kami</h4>
    <br>
      <div class="row justify-content-md-center">
          <a  href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-lg col-xs-4 col-lg-3 ml-3 mr-3 mt-3 mb-2 font-weight-bold btn-google btn-block text-uppercase" id="signInButton" style="color:white;background-color:#ea4335;border-radius:30px" type="submit">
            <i class="fa fa-google mr-2 pr-2" style="border-right:3px solid white ; padding"></i>
            Sign in with Google
          </a>
      </div>

    <br>
  </div>
 </div>

{% endblock %}