<!DOCTYPE html>
{% extends 'registerForm/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style-news-detail.css' %}">
{% endblock %}

{% block title %}
    News
{% endblock %}

{%block content%}
<div class="newsDetail">
    <div class="container">
            <img class='imageSelected' src= {{ selectedNews.picture }}>
            <h1> {{ selectedNews.title }} </h1>
            <p>{{ selectedNews.created_date }}</p>
            <p>{{ selectedNews.text }}</p>
            <p>This is made by {{ selectedNews.author }}</p>
    </div>
    <div class="newsProgram">
        {% for program in selectedProgram %}
            <div class="box">
                <a href="{% url 'donate' program.namaProgram %}">
                    <img class='imageSelected' src={{ program.linkGambar }} width="300" height="200">
                    <p>{{ program.namaProgram }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}