<!DOCTYPE html>
{% extends 'registerForm/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style-news.css' %}">
{% endblock %}

{% block title %}
    News
{% endblock %}

{%block content%}
<section class="top-info">

    <div id="carousel-1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://static01.nyt.com/images/2018/07/30/world/30Indonesia2/merlin_141836883_dcfb6fcf-86f8-4cbf-952c-614b2f5744bb-superJumbo.jpg?quality=90&auto=webp" alt="First slide" style="object-fit: cover; height: 30vw">
            <div class="carousel-caption d-none d-md-block">
                <h5>MAU KEREN ?</h5>
                <p>Bantu Saudara Kita BIAR KEREN</p>
            </div>
        </div>

        {% for headline in headlineNews %}
                <div class="carousel-item">
                    <img class="d-block w-100" src={{ headline.picture }} alt="First slide" style="object-fit: cover; height: 30vw">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ headline.title }}</h5>
                        <p>Kota Palu Membutuhkan Bantuan Anda</p>
                    </div>
                </div>
        {% endfor %}
        
        </div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="newsSmall">
        {% for headline in headlineNews %}
            <ol class="box-small">
                <li class="list-box-small">  
                        <a href="{% url 'newsDetail' headline.category headline.slug %}">
                        <h5>{{ headline.title }}</h5>
                        <p>Ini deskriksi kecil nanti</p>
                    </a>
                </li>
            </ol>
        {% endfor %}
    </div>


    <div class="title">
            <h1>Berita Lainnya</h1>
        </div>

    <div class="newsList">
        {% for news in allNews %}
            <div class="box">
                <a href="{% url 'newsDetail' news.category news.slug %}">
                    <img class='imageSelected' src={{ news.picture }} width="300" height="200">
                    <p>{{ news.title }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}