@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*font-family: 'Oxygen', serif;
font-family: 'Arvo', serif;*/

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.donateButton{
    color: white;
    font-weight: bold;
    background-color: #3875d7;
}
.togglerNavigasi{
    background-color: white;
}
.iconToggle{
    color: #3875d7;
}

.tombol{
    color: #3875d7;
    font-weight: bold;
}
.navigasi{
    background-color: #3875d7;
    margin: 0%;
    font-family: 'Montserrat';
}

.container {
    font-family: 'Oxygen', serif;
    text-align: center; 
    padding: 0em 1em;
}

.imageSelected {
    width: 100%;
    height: auto;
}

.container h1 {
    font-family: 'Arvo', serif;
    text-align: center;
}

.container p {
    text-align: justify;
}

.newsProgram {
    display: grid;
    grid-area: newsList;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    transition: 2s;
    margin: 0em 0em 1em 0em;
}

.box {
    background: #3875d7;
    text-align: center;
    transition: 2s;
}

.box:hover{
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.box img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    transition: 2s;
}
.box a {
    text-decoration: none;
    font-family: 'Oxygen', serif;
    color : white;
    transition: 2s;
}

.box p{
    font-size: 1em;
    padding: 1em 0em 1em 0em;
    margin: 0em;
}

@media (min-width: 900px) {
    .container {
        font-family: 'Oxygen', serif;
        text-align: center; 
        padding: 0em 5em;
    }
    .newsProgram {
        padding: 0em 5em;
    }
}

@media (min-width: 1040px) {
    .imageSelected {
        width: 100%;
        height: auto;
    }

    .newsDetail {
        margin: 1em 0em 0em 0em;
    }

    .container { 
        padding: 0em 10em;
    }
    .newsProgram {
        padding: 0em 10em;
    }

    .box img {
        height: 15vw;
    }
}