{% extends 'registerForm/base.html' %}
{% load static %}

{% block title %}
Daftar Program
{% endblock %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="container">
            <div class="title col-xs-12-center mt-4">
                <h1 class="font-weight-bold">List Program Donasi</h1>
            </div>
        </div>
    </div>

    <div id="products" class="row view-group mb-4">
        {% for i in datas %}
        {% for i in datas %}
        <div class="item col-xs-4 col-lg-4 mt-3 mb-2">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="gambar group list-group-image img-fluid" src={{i.linkGambar}} alt="" />
                </div>
                <div class="caption card-body">
                    <h4 class="namaProgram group card-title inner list-group-item-heading">{{i.namaProgram}}</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            {% if user.is_authenticated %}
                            <a class="donateButton btn btn-primary" href="{% url 'donate' i.namaProgram %}">Donate Now</a>
                            {% else %}
                            <a class="donateButton btn btn-primary" href="{% url 'register' %}">Donate Now</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

    </div>

</div>

{% endblock %}

