@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*font-family: 'Oxygen', serif;
font-family: 'Arvo', serif;*/

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.donateButton{
    color: white;
    font-weight: bold;
    background-color: #3875d7;
}
.togglerNavigasi{
    background-color: white;
}
.iconToggle{
    color: #3875d7;
}

.tombol{
    color: #3875d7;
    font-weight: bold;
}
.navigasi{
    background-color: #3875d7;
    margin: 0%;
    font-family: 'Montserrat';
}
.newsList {
    display: grid;
    grid-area: newsList;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    transition: 2s;
    margin: 0em 0em 1em 0em;
    
}

.title {
    display: inline;
    grid-area: title;
    position: relative;
    font-family: 'Arvo', serif;
    font-size: 3em;
    color :  #3875d7;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 5em 1em 5em;
}

.title h1{
    margin: 0%;
}

.box {
    background: #3875d7;
    text-align: center;
    transition: 2s;
}

.box:hover{
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.box img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    transition: 2s;
}
.box a {
    text-decoration: none;
    font-family: 'Oxygen', serif;
    color : white;
    transition: 2s;
}

.box p{
    font-size: 1em;
    padding: 1em 0em 1em 0em;
    margin: 0em;
}

.newsSmall {
    display: grid;
    grid-auto-rows: 1fr;
    grid-area: list;
}

.newsSmall ol {
    list-style-type: none;
    padding: 0%;
}

.box-small {
    transition: 2s;
}

.box-small:hover{
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.box-small {
    margin: 0%;
    text-align: center;
    background: rgb(237, 237, 237);
}

.box-small a {
    text-decoration: none;
}

.box-small h5{
    margin: 0%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    color: azure;
    background: #3875d7;
}
.box-small p{
    margin: 0%;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
}


@media (min-width: 600px) {
    .top-info {
        display: grid;
        padding: 0em 2em;
        margin: 1em 0em 0em 0em;
        grid-template-areas:    
        "carousel-image carousel-image list"
        "carousel-image carousel-image list"
        "title title title"
        "newsList newsList newsList";
    }

    
    #carousel-1 {
        grid-area: carousel-image;
        grid-column: 1/3;
        grid-row: 1/3;
        width: 100%;
    }

    .newsSmall {
        grid-gap: 40px;
        margin: 0em 0em 0em 2em;
    }
    .box img {
        height: 15vw;
    }
    
}