@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.greet {
    margin: 1em 1em;
}

.content1 {
    font-family: 'Oxygen', serif;
    text-align: center; 
    padding: 0em 1em;
}
h3 {
    text-align: center;
}
table, td, th {  
    border: 2px solid #3875d7;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 15px;
}

@media (min-width: 900px) {
    .content1 {
        font-family: 'Oxygen', serif;
        text-align: center; 
        padding: 0em 5em;
    }
}