body{
    font-family: 'Montserrat'
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.donateButton{
    color: white;
    font-weight: bold;
    background-color: #3875d7;
}
.togglerNavigasi{
    background-color: white;
}
.iconToggle{
    color: #3875d7;
}

.tombol{
    color: #3875d7;
    font-weight: bold;
}
.navigasi{
    background-color: #3875d7;
}
