{% extends 'registerForm/base.html' %}
{% block content %}
<div class=”row”>
 <div class= "col s12 m6 offset-m3">
    <H3>Hi {{ user.email }}!</H3>
 </div>
</div>
<form method=”post”>
 {% csrf_token %}
 {{ user_form.as_p }}
 <!--{{ profile_form.as_p }}-->
 <button type=”submit”>Save changes</button>
</form>
{% endblock %}