{% extends 'registerForm/base.html' %}
{% block content %}
<div class="row mt-3 container justify-content-md-center col-12">
  <H3>Hi {{ user.first_name }} {{ user.last_name }}!</H3>
</div>
{% endblock %}


