{% extends 'registerForm/base.html' %}
{% load static %}

{% block title %}
  List Donatur "{{ program }}"
{% endblock %}


{% block content %}

<div class="container pt-3 pb-3" >
    <div class="card">
      <div class="card-body">
          <div class="container">
            <h3 class="text-center"><b>List Donatur</b></h3>
            <p class="text-center h5 pb-2">Program "{{ program }}"</p>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Waktu Donasi</th>
                      <th>Nama</th>
                      <th>Jumlah Donasi</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for donasi in data %}
                    <tr>
                      <td>{{ donasi.datetime }}</td>
                      <td>{{ donasi.nama }}</td>
                      <td>{{ donasi.uang_donasi }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
          </div>
      </div> 
      
    </div>
</div>

{% endblock %}