{% extends 'registerForm/base.html' %}
{% load static %}

{% block title %}
  Donasi "{{ program.namaProgram }}"
{% endblock %}

{% block content %}

<div class="container pt-4">

  
  <div class="row">

    <!-- Berita -->
    <div class="col-sm-8 pb-3">
      <div class="card">
        <img class="card-img-top" src="{{ program.linkGambar }}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{ program.namaProgram}}</h4>
          <p class="card-text">{{program.deskripsiBencana }}</p>
        </div>
      </div>
    </div>

    
    <div class="col-sm-4">
      <!-- Jumlah uang dan tombol data donatur -->
      <div class="row">
        <div class="container pb-3">
          <div class="card">
            <div class="card-footer text-center">
              <a href="{% url 'listdonatur_page' program.namaProgram %}">
                <button type="button" class="btn btn-primary btn-block">Lihat Daftar Donatur</button>
              </a>
            </div>
          </div>                
        </div>
      </div>

      <!-- Form Donasi -->
      <div class="row">
        <div class="container pb-3">
          <div class="card">
            <div class="card-header"><h5><b>{{ program.namaProgram }}</b></h5></div>

            {% if user.is_authenticated %}

            <div class="card-body">
              <p><b>Form Pengisian Donasi</b></p>
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary text-center" name="submit">Beri Donasi</button>
              </form>
            </div>

            {% else %}

            <div class="card-body text-center">
              <div class="alert alert-warning text-center">
                <strong>Kamu belum Login</strong> 
              </div>
              
              <a href="{% url 'register' %}">
                <button type="button" class="btn btn-primary">Login</button>
              </a>
            </div>
            
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}
