<!DOCTYPE html>
{%extends 'about/base.html'%}
{%load static%}
<html lang="en">

<body style="background-color: #97AFF5">
<div class="container-fluid">
    {%block content%}
    <h1>Daftar Sekarang!</h1>
    <table class="table table-bordered table-responsive-sm">
        <thead class="df">
        <th scope="col">Testimony</th>
        <th scope="col">From</th>
        </thead>
        <tbody class="listed" id="df2">
        </tbody>
    </table>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col">
            <form id="form" method="POST" action="">
                {% csrf_token %}
                {{ form.as_ul }}
                <br>
                <button type="submit" class="btn btn-default" action="" id="submit">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>

<!-----------------------------------------------SCRIPTS--------------------------------------------------------------->
<script>var list = "{% url 'about_list' %}"</script>
<script>var about = "{% url 'about' %}"</script>
<script>var username = "{{user.get_username}}"</script>
<script src="{% static 'about/js/about.js' %}"></script>
<script>
$(document).ready(function () {
$.ajax({
        url : list,
        dataType : "json",
        success : function (datajson) {
            var testimonies = datajson;
            console.log(datajson);
            for (var i = 0; i < testimonies.length; i++) {
                var table_content = "<tr>" +
                    "<td>" + testimonies[i].testimony + "</td>" +
                    "<td>" + testimonies[i].username + "</td>" +
                "</tr>";
                $('.listed').append(table_content);
            };
        },

        error: function (error) {
            var table_content = "<tr><td colspan=\"5\" class = \"text-center\">JSON failed to loaded :(</td></tr>";
            $('.listed').append(table_content);
        },
    });


});


</script>
{% endblock %}
</body>
</html>