{% load static %}
<html lang="en">
<head>

    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'registerForm/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'programList/css/style.css' %}"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>About</title>
</head>
<body>
<!-- Image and text -->
<nav class="navigasi navbar navbar-expand-lg" style="font-family: 'Montserrat'">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="https://i.postimg.cc/3wXRR0hY/Logo-Donasi.png" width="50" height="50" class="d-inline-block align-top"
             alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navigasi navbar-nav font-weight-bold">
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'index' %}">Program <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light" href="{% url 'newsDisplay' %}">News</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-light" href="{% url 'about' %}">About</a>
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link text-light" href="#">
                    <i class="fa fa-user mr-2" ></i>
                    Hi {{ user.first_name }} {{ user.last_name }} !
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'myDonation' %}">
                    Donasi Saya
                </a>
            </li>

            <a class="tombol btn btn-light my-2 my-sm-0" href="/account/logout" >
                    Logout
            </a>
            {% else %}
                <a class="tombol btn btn-light my-2 my-sm-0" href="{% url 'register' %}" >
                    Login
                </a>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container" style="padding:0px !important  ">
    {%block content%}
    {% endblock %}
</div>
</body>
</html>