<!DOCTYPE html>
{% extends 'registerForm/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style-donatur.css' %}">
{% endblock %}

{% block title %}
    Donasi Saya
{% endblock %}

{%block content%}
    <div class="greet">
        <h3>Selamat datang {{ user.first_name }} {{ user.last_name }}</h3>
    </div>
    <div class="greet" id="total_donasi"></div>
    <div class="content1">
        <table id='donaturTable'>
            <tr>
                <th id='table'>Nama Program</th>
                <th id='table'>Jumlah Donasi</th>
            </tr>
        {% for myDonasi in donasi %}
            <tr>
                <td>{{myDonasi.nama_program}}</td>
                <td>Rp {{myDonasi.uang_donasi}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url : "/donasi-saya/data",
            dataType : 'json'
        }).done(function(data){
            if(data.daftar_donasi.length > 0){
                $('#total_donasi').html('<h3>Total donasi yang telah dilakukan : Rp '+ data.total_donasi + '</h3>');
                $.each(data.daftar_donasi, function(i, val){
                    var program = data.daftar_donasi[i].nama_program;
                    var uang = data.daftar_donasi[i].uang_donasi;
                    $('#donaturTable').append('<tr><td>' + program + '</td><td>Rp ' + uang + '</td></tr>');
                });
            }
            else{
                $(".content1").html('<h3>Anda belum melakukan donasi, Ayo donasi <a href="/">disini</a></h3>')
            }
        })
    })
    </script>
{% endblock %}