<!DOCTYPE html>
{% extends 'registerForm/base.html' %}
<html lang="en">

<body style="background-color: #97AFF5">
<div class="content">
    {%block content%}
    <table id='donaturTable'>
        <tr>
            <th id='table'>Nama Program</th>
            <th id='table'>Jumlah Donasi</th>
        </tr>
    {% for myDonasi in donasi %}
        <tr>
            <td>{{myDonasi.nama_program}}</td>
            <td>{{myDonasi.uang_donasi}}</td>
        </tr>
    {% endfor %}
    {% endblock %}
</table>
</div>

</body>
</html>