<!DOCTYPE html>
{% extends 'registerForm/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/style-donatur.css' %}">
{% endblock %}

{% block title %}
    Donasi Saya
{% endblock %}

{%block content%}
    <div class="greet">
        <h3>Selamat datang {{ user.first_name }} {{ user.last_name }}</h3>
        <h3>Berikut ini adalah donasi yang pernah kamu lakukan</h3>
    </div>
    <div class="content1">
        <table id='donaturTable'>
            <tr>
                <th id='table'>Nama Program</th>
                <th id='table'>Jumlah Donasi</th>
            </tr>
        {% for myDonasi in donasi %}
            <tr>
                <td>{{myDonasi.nama_program}}</td>
                <td>Rp {{myDonasi.uang_donasi}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}